<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Data</servlet-name>
        <servlet-class>mypkg.Data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyuser</servlet-name>
        <servlet-class>VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser1</servlet-name>
        <servlet-class>VerifyUser1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUser</servlet-name>
        <servlet-class>SaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUser1</servlet-name>
        <servlet-class>SaveUser1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonarList</servlet-name>
        <servlet-class>DonarList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonarList1</servlet-name>
        <servlet-class>DonarList1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveRequestor</servlet-name>
        <servlet-class>SaveRequestor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRequest</servlet-name>
        <servlet-class>ShowRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSession1</servlet-name>
        <servlet-class>EndSession1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Data</servlet-name>
        <url-pattern>/Data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyuser</servlet-name>
        <url-pattern>/verifyuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser1</servlet-name>
        <url-pattern>/VerifyUser1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUser</servlet-name>
        <url-pattern>/SaveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUser1</servlet-name>
        <url-pattern>/SaveUser1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonarList</servlet-name>
        <url-pattern>/DonarList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonarList1</servlet-name>
        <url-pattern>/DonarList1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveRequestor</servlet-name>
        <url-pattern>/SaveRequestor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRequest</servlet-name>
        <url-pattern>/ShowRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSession1</servlet-name>
        <url-pattern>/EndSession1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
